.SIPContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 ,0, 0,0.5);
    /* background-color: blue; */
    
}
.SIPContainer1{
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    /* border: 1px solid black; */
}
.SIPContainer2{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.sX{
    position: relative;
    right: 42%;
    width: 5%;
    font-size: large;
    font-weight: bold;
}
#twitter{
    width: 5%;
    height: 70%;
}
.SIPContainer3{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: green; */
}
.SIPX{
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: left;
    height: 8%;
    /* border: 1px solid orange; */
}
.SIPData{
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    /* border: 1px solid blue ; */
}
.SIPGoggle{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 2%;
    border: 1px solid gray;
}
.SIPimgg{
    /* height: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid grey; */
}
.SIPT{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
}
.SIPOR{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid palegoldenrod; */
}
.SIPhr{
    width: 47%;
    height: 90%;    
    /* border: 1px solid teal; */
}
.SIPor1{
    display: flex;
    height: 90%;
    width: 10%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: large;
}
 .SIPEmail{
    display: flex;
    height: 39%;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid brown; */
    
} 

.SIPnext{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background-color: black;
    /* border: 1px solid orange; */
}
.SIPfpass{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid grey;
}
#SIPfpass{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.SIPSinup{
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
}
#SIPSignup{
    text-decoration: none;
    color:#1a8cd8;
    margin-left: 2%;

}